.hero {
  background-color: var(--hero-background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.hero__container {
  text-align: center;
}
.hero__title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-title-color);
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 30px;
}
.hero__btn {
  padding: 10px 24px;
}