.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--site-accent-color);
}
.logo-black {
  color: var(--logo-color-black);
}
.logo-white {
  color: var(--logo-color-white);
}
