body {
  font-family: 'Roboto', sans-serif;
  color: var(--font-color);
  letter-spacing: 0.03em;
  background-color: var(--background-color);
}

.list {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.no-gap {
  display: block;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration-line: none;
}
