:root {
--font-color: #757575;
--title-font-color: #212121;
--site-accent-color: #2196f3;
--bg-active-button: #188ce8;
--logo-color-white: #ffffff;
--logo-color-black: #000000;
--hero-title-color: #ffffff;
--background-color: #ffffff;
--hero-background-color: #2f303a;
--team-background-color: #f5f4fa;
--icon-fill-color: #afb1b8;
--page-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
